---
import Layout from "../layouts/Layout.astro";
import Window from "../components/Window.astro";
import Button from "../components/Button.astro";
---

<Layout title="Contact">
    <div class="retro-win31-window">
        <Window title="Contact" height="300px" contentWindow>
            <div class="flex justify-center items-center gap-4 flex-wrap mt-8">
                <Button
                    href="https://twitter.com/mcreenan"
                    icon="fa-brands fa-twitter text-4xl"
                    label="Twitter"
                    external
                />
                <Button
                    href="https://bsky.app/profile/matt.creenan.me"
                    image="/images/bluesky-black.svg"
                    label="Bluesky"
                    external
                />
                <Button
                    href="https://github.com/mcreenan"
                    icon="fa-brands fa-github text-4xl"
                    label="GitHub"
                    external
                />
                <Button
                    href="https://www.linkedin.com/in/matt-creenan-60567756/"
                    icon="fa-brands fa-linkedin text-4xl"
                    label="LinkedIn"
                    external
                />
            </div>
        </Window>
    </div>
    <div class="win95-window">
        <Window title="Contact" height="300px" contentWindow variant="win95">
            <div class="flex justify-center items-center gap-4 flex-wrap mt-8">
                <Button
                    href="https://twitter.com/mcreenan"
                    icon="fa-brands fa-twitter text-4xl"
                    label="Twitter"
                    external
                />
                <Button
                    href="https://bsky.app/profile/matt.creenan.me"
                    image="/images/bluesky-black.svg"
                    label="Bluesky"
                    external
                />
                <Button
                    href="https://github.com/mcreenan"
                    icon="fa-brands fa-github text-4xl"
                    label="GitHub"
                    external
                />
                <Button
                    href="https://www.linkedin.com/in/matt-creenan-60567756/"
                    icon="fa-brands fa-linkedin text-4xl"
                    label="LinkedIn"
                    external
                />
            </div>
        </Window>
    </div>
</Layout>
