<button
	class="desktop-icon"
	type="button"
	onclick="window.openThemeDialog()"
	style="left: calc(1rem + 100px + 0.5rem); background: none; border: none;"
>
	<i class="ph ph-palette"></i>
	<span>Themes</span>
</button>
